
#containerText {
  padding: 40px;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 750px;
  @media screen  and  (min-width: $md){
    width: 100%;
  }

  #text {
    padding-top: 20px;
    display: flex;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

    @media screen  and  (min-width: $lg){
      padding: 10px;
      width: 50%;
      margin: 0 auto;
      font-size: 65px;
      line-height: 1.2;
    }


  }

  #textH3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    line-height: 1.5;
    @media screen  and  (min-width: $lg){
      width: 50%;
      margin: 0 auto;
      font-size: 22px;
    }

  }

  button {
    @media screen  and  (min-width: $lg){

      margin: 10px auto;
    }
    @media screen  and  (min-width: $md){

      margin: 60px auto;

    }

    background-color: #e84545;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    padding: 15px 40px;
    border: 0;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
  }

}