@import "break-point";

#pageHeader {
  display: flex;
  align-items: center;
  align-self: center;
  position: fixed;
  top: 0;
  padding: 20px;
  max-width: 1170px;
  width: 80%;
  background-color: rgba(41, 44, 71, 1);

  @media screen and (min-width: $lg) {
    padding: 10px;
    min-width: 100%;

    .containerLogo {
      margin-left: 100px;

    }
  }

  .containerLogo {
    padding: 20px;
    width: 189px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    img {

      height: 24px;
      width: 189px;
    }
  }
}


.navigation-open {
  opacity: 0.9;
  transition: opacity 0.5s;
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  @media screen and (min-width: $lg) {
    display: none;
  }

}

.navContainer {
  display: none;
  justify-content: space-between;
  width: 538px;

  @media screen and (min-width: $lg) {
    display: inline-flex;
    margin-left: 500px;
    margin-top: -20px;
    position: fixed;
    padding-left: 270px;
  }

  li {
    margin: 0;

    a {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.75);
      font: 13px Raleway, sans-serif;
      font-weight: 100;

    }

    a:hover {
      color: #fff;
    }

  }
}


.primary-nav {
  display: block;
  position: relative;
  top: 25%;
  left: calc(50% - 5vw);

  @media screen and (min-width: $lg) {
    left: calc(50% - 12vw);
  }


  li {
    display: block;
    margin-bottom: 20px;

    a {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.75);
      font: 25px Raleway, sans-serif;
      font-weight: 100;

    }

    a:hover {
      color: white;
    }
  }
}

.btn-nav-toggle {
  left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: fixed;
  background-color: #e84545;
  border-radius: 50%;
  cursor: pointer;

  div {
    width: 18px;
    height: 3px;
    background: white;
    margin-bottom: 3px;
    transform-origin: left center;
  }

  @media screen and (min-width: $lg) {
    display: none;
  }
}

.btnToggleRotate > div:first-child {
  transform: rotate(43deg);
  margin-left: 5px;
}

.btnToggleRotate > div:last-child {
  transform: rotate(-43deg);
  margin-left: 5px;
}

.btnToggleRotate > div:nth-child(2) {
  opacity: 0;
}

