@import "break-point";
#containerImage {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  @media screen and (min-width: $lg) {
    height: 100%;
    margin-left: -30px;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  @media screen and (min-width: $md) {
    flex-direction: row-reverse;

  }

  .imag {
    @media screen and (min-width: $lg) {
      height: 350px;
      width: 472px;
    }
    width: 360px;
    height: 300px;
    border: 1px solid white;

    img {

      @media screen and (min-width: $lg) {
        height: 350px;
       width: 472px;
      }
      width: 350px;
      height: 300px;
    }


  }

  .item {
    width: 350px;
    height: 300px;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    @media screen and (min-width: $lg) {
      height: 350px;
      width: 470px;
    }

  }

  .item:hover {
    background: rgba(232, 69, 69, .9);
    opacity: 1;
    transition: 1s;

    h5 {

      color: white;

    }

    p {

      color: white;

    }

  }
}
