#slider {
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-evenly;

  .sliderContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 50%;
    height: 350px;
  }

  img {
      width: 350px;

  }

  h3 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(83, 53, 74, 1);
    font: italic 36px "Cardo", Georgia, "Times New Roman", serif;
    color: white;
  }

  p {

    height: 50px;
    color: white;
    text-align: center;
    position: relative;
    top: 250px;
    left: -100px;
    font: italic 15px "Cardo", Georgia, "Times New Roman", serif;
  }

  button {;
    padding: 5px;
    width: 10px;
    height: 10px;
    border-radius: 70%;
    background-color: #ffffff;
  }
}
