@import './src/assets/sass/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "break-point";
@import "theme";



  #pageHeader {
    position: fixed;
    top: 0;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(41, 44, 71, 1);
    box-sizing: border-box;
    .containerLogo {
      img {
        height: 25px;
        width: 200px;
      }
    }

    .navHeaderContainer {
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      flex-wrap: wrap;

    }
    .navHeader {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;

      a {
        margin: 0 20px;
        color: white;
        font-size: 13px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
      }

    }

  }








#containerText {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  box-sizing: border-box;

  button {
    background-color: #e84545;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    padding: 15px 40px;
    border: 0;
    width: 200px;
    margin: 0 auto;
  }

}


#text {
  display: flex;
  flex-wrap: wrap;
  font-size: 65px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 100px;

}

#textH3 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-align: center;
  padding: 50px;
}


#containerCard {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-self: center;
  align-content: center;


  .card {
    padding: 50px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    h5 {
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
      padding: 10px;
      text-align: center;
    }

    p {
      padding-top: 5px;
      text-align: center;
      width: 250px;

    }

    img {
      width: 50px;
    }
  }
}

#containerImage {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


  .imag {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1px;

    img {
      width: 300px;

    }

  }

  .item {
    height: 162px;
    width: 300px;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
  }

  .item:hover {
    background: rgba(232, 69, 69, .9);
    opacity: 1;
    transition: 1.5s;

    h5 {

      color: white;
      padding: 5px;
    }

    p {

      color: white;
      padding: 5px;
    }

  }
}

#cardsList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px;
  font-family: 'Raleway', sans-serif;


  .cardListItem {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 200px;
    max-width: 300px;
    flex-basis: 300px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    color: black;

  }


  .profilePictureContainer {
    width: 250px;
    height: 250px;
    display: flex;
    overflow: hidden;

    img {
      left: 50%;
      top: 50%;

    }
  }

  .cardsFullName {
    font-size: 22px;
    padding: 10px 0;
    font-weight: 400;
  }

  .cardsWork {
    font-size: 13px;
    padding: 2px 0;
    color: #e84545;
  }

  .cardsAboutMe{
    font-size: 14px;
    padding: 10px 0;
    line-height: 22.4px;
  }


  .cardContact {

  }

  .cardShare {
    text-decoration: none;
    line-height: 40px;
  }

  i{
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    padding-top: 5px;
    font: normal normal normal 23px/1 FontAwesome;
    width: 40px;
    border: 1px solid #e8ecee;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    color: rgba(198, 202, 204, 1);

  }

  i:hover{
    background-color: #e84545;
    color: white;
  }
}

#slider{
  width: 100%;
  background-color:rgba(83, 53, 74, 1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-evenly;

.sliderContainer{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 350px;
}

  img{
    width: 675px;

  }

  h3{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    text-align: center;
    background-color:rgba(83, 53, 74, 1);
    font: italic 36px "Cardo", Georgia, "Times New Roman", serif;
    color: white;
    box-sizing: border-box;
  }

  p{

    height: 50px;
    color: white;
    text-align: center;
    position: relative;
    top: 250px;
    left: -100px;
    font: italic 15px "Cardo", Georgia, "Times New Roman", serif;
  }

    button{
      margin-top: 280px;
      margin-right: 50px;
      padding: 5px;
      width: 10px;
      height: 10px;
      border-radius: 70%;
      background-color: #ffffff;
  }
}

#download{
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  height: 320px;


  h2{
    font-size: 28px;
    padding: 20px;
  }

  p{
    font-size: 14px;
    padding: 20px;
  }

  button{
  color: white;
  background-color: #e84545;
  border: 0;
  font-size: 15px;
  height: 50px;
  width: 200px;

}

  button:hover{
    transform: rotate(10deg);
    animation: 15s;
  }

}


#pageFooter {
  margin-top: auto;
  color: white;
  text-align: center;
  font-size: 14px;

  p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    line-height: 1.6;
  }

}

.footerTop {
  background-color: #3a3e64;
  padding-top: 50px;
}



.footerContainer {
  display: flex;
  flex-direction: column;


  @media screen and (min-width: $lg) {
    flex-direction: row;
  }

}

.footerItem {


  flex: 1;
  margin-bottom: 50px;


  @media screen and (min-width: $md){
    margin-bottom: 80px;
  }

  h5 {
    text-transform: uppercase;
    margin: 10px 0 20px;
    font-weight: 700;
    line-height: 1.1;
  }


  li{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: rgba(198, 202, 204, 1);
    box-sizing: border-box;


  }

  a {
    border-width: 2px !important;
    font: normal normal normal 25px/1 FontAwesome;
    color: rgba(198, 202, 204, 1);

  }

  a:hover, a:active {

    background-color: $accent-color;
    color: white;
  }


}

.footerItem h5 {

}


.footerBottom {
  background-color: #313454;
  padding: 20px 0;

  a {
    color: white;
  }

  a:hover{
    color: $accent-color;
  }

  i{
    color: $accent-color;
  }
}