@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#pageHeader {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 320px;
  background: rgba(41, 44, 71, 1);

}

.containerLogo > img {
  margin: 0 auto;
  width: 200px;
}

.navHeaderContainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}


.navHeader {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

}

a {
  margin: 0 20px;
  color: white;
  font-size: 13px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}


#containerText {
  position: absolute;
  color: white;
  text-align: center;
  top: 150px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  margin-top: 0;
}

#text {
  font-size: 65px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 40px;
}

#textH3 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  padding: 50px;
}

button {
  background-color: #e84545;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding: 15px 40px;
  border: 0;
  width: 200px;
  margin: 0 auto;
}

#containerCard {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;

}


.card{
  padding: 50px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card > h5 {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  text-align: center;
}

.card > p {
  padding-top: 5px;
  text-align: left;

}

.card  > img{
  width: 50px;


}


